@inject Microsoft.Extensions.Configuration.IConfigurationRoot _config
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - King County ESAR</title>

  <environment names="Development">
    <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="~/lib/angular-jk-carousel/dist/jk-carousel.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <environment names="Staging,Production">
    @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css">
    <link rel="stylesheet" href="~/lib/angular-jk-carousel/dist/jk-carousel.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
  @RenderSection("head", required: false)
</head>
<body layout="row" ng-app="esarTraining" class="ng-cloak">
  <div layout="column" flex id="content" role="main">
    <md-toolbar class="md-whiteframe-z1 md-primary">
      <div class="md-toolbar-tools">
        @*<md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/identity/wwwroot/lib/angular-material/img/icons/menu.svg"></md-icon>
          </md-button>*@
        <h2>
          <strong>King County ESAR<span hide-xs> - Basic Training</span></strong>
        </h2>
      </div>
    </md-toolbar>
    <md-content layout="column" flex="noshrink" id="content">
      @RenderBody()

    </md-content>
    <div style="margin:0 auto; padding: 5px; font-size: 90%">&copy; 2016 - This project is open source. View it on <a href="https://github.com/mcosand/esar-training">GitHub</a></div>
    </div>

  <script>var appRoot = '@Url.Content("~/").TrimEnd('/')'; var databaseRoot = '@(_config["apis:database:root"].TrimEnd('/'))'; var authApi = '@(_config["auth:authority"].TrimEnd('/'))';</script>
  <environment names="Development">
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-jk-carousel/dist/jk-carousel.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>
    <script src="~/lib/angular-jk-carousel/dist/jk-carousel.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>
  @RenderSection("scripts", required: false)
</body>
</html>
